name: Publish to NuGet

on:
  release:
    types: [published]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Restore
      run: dotnet restore EnumGenerator/EnumGenerator.csproj

    - name: Set Version Variable
      run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
      
    - name: Pack
      run: dotnet pack EnumGenerator/EnumGenerator.csproj --configuration Release --output . /p:Version=${{ env.VERSION }}

    - name: Push to NuGet
      run: dotnet nuget push *.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
